@fontface {
	font-family: 'Aladdin';
	src: url('../fonts/aladdin2.ttf');
}

body {
	font-family: ExcellenceInMotion;
	overflow-x: hidden;
}

/*---------------------------------------------------------------------------------------------------------------*/
/*------------- HOME */
/*---------------------------------------------------------------------------------------------------------------*/

/*------------------------------------- HEADER */

/*--ORDER--*/
li.page_item.page-item-13 {
	order: 1;
	font-family: 'Aladdin';
	font-size: 3em;
}

li.page_item.page-item-2{order: 2;}

li.page_item.page-item-6{order: 3;}

li.page_item.page-item-11{order: 4;}


/*--CONTENT--*/
.navbar {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	width: 100vw;
}

.navbar_container {
	padding: 30px 40px 10px 40px;
	justify-content: space-between;
	display: flex;
	font-size: 1.6em;
}

.navbar-logo {
	font-family: 'Aladdin';
	font-size: 3em;
}

.navbar-text {
	color: #fefefe !important;
	margin: 10px;
}

.navbar_menu {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	max-width: 1400px;
}

.menu_header {flex-grow: 1;}

.menu_header ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	margin-top: 22px;
}

.menu_header ul a {
	color: #fefefe;
	transition: color .3S ease-in;
}

.menu_header ul a:hover {
	text-decoration: none;
	color: #F3A943;
}

.donner_button {
	background-color: #F3A943;
	padding: 5px 15px;
	margin: 10px 0 0 40px;
	transition: background-color .3S ease-in;
	cursor: pointer;
} 

.donner_button:hover {background-color: #4A90E2;}

/*------------------------------------- FOOTER */

#footer {
	background-color: #93281F;
	color: #fefefe;
	width: 100vw;
	height: 180px;
	padding-top: 40px;
}

.footer-content {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.newsletter {
	font-size: 22px;
	margin-right: 100px;
}

.newsletter span {
	color: #D9D7D7;
	border: thin solid #F3A943;
	padding: 5px 15px;
}

.media-list {
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.social-list {
	background-size: 100%;
	width: 60px;
	height: 60px;
}
.fb {background-image: url(../images/facebook.png);}
.gplus {background-image: url(../images/googleplus.png);}
.insta {background-image: url(../images/instagram.png);}
.tw {background-image: url(../images/twitter.png);}
.yt {background-image: url(../images/youtube.png);}


.mention-legal {
	text-align: center;
	font-size: 20px;
	padding-top: 40px;
} 

/*------------------------------------- SLOGAN */

.jafar-slogan_img {
	background-image: url('../images/Jafar-home.jpg');
	background-size: 100%;
	width: 100vw;
	height: 100vh;
}

.jafar-slogan {
	padding-left: 10vw;
	padding-top: 37vh;
}

.jafar-slogan p {
	background-color: rgba(0,0,0,0.5);
	font-family: aladdin;
	font-size: 5em;
	text-align: center;
	color: #fefefe;
	padding: 80px;
	width: 600px;
}

/*------------------------------------- INTRO */

.intro-title {
	font-family: aladdin;
	font-size: 3.2em;
	text-align: center;
	margin: 60px auto 40px;
}

.intro-title span {
	color: #F3A943;
	margin: 0 40px;
}  

.intro-content {
	width: 50vw;
	font-size: 18px;
	margin: auto;
	text-align: justify;

}

.intro-content span {
	color: #F3A943;
	font-weight: 600;
}

.intro-img {
	background-image: url('../images/Jafar-intro.jpg');
	width: 50vw;
	height: 418px;
	margin: 40px auto;
	box-shadow: 0px 3px 5px 0px #c0c0c0;
}

/*------------------------------------- ACTU */

.actu {
	background-color: #93281F;
	color: #fefefe;
	display: flex;
	align-items: center;
	padding: 20px 30px;
	margin: 100px 0;
}

.actu-title {
	font-family: aladdin;
	font-size: 3.2em;
	padding-right: 70px;

}

.actu-container {
	font-size: 22px;
	padding-top: 10px;
	margin-bottom: -17px;
	display: flex;
	overflow: scroll;
	overflow-y: hidden;
}

.actu-container ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	padding-left: 0;
	white-space: nowrap;
}

.actus .type {
	background-color: #F3A943;
	padding: 8px 15px 7px;
	margin: 0 20px 0 40px;
	text-align: center;
	
	transition: background-color .3s ease-in;
}

.actus:hover .type {background-color: #4A90E2;}

.actus a {
	color: #fefefe;
	font-size: 22px;
}

.actus a:hover {text-decoration: none;}

.actu-container::-webkit-scrollbar {
    width: 0;
}

/*------------------------------------- FORM */

.join {
	margin: 160px 0 180px 400px;
	display: flex;
}

.join-form {
	background-color: #93281F;
	text-align: center;
	width: 25vw;
	height: 270px;
	font-size: 18px;
	padding: 20px;
}

.form-title {
	color: #fefefe;
	font-size: 32px;
}

.form-input {
	text-align: center;
	height: 50px;
	width: 45%;
	margin: 10px 0;
}

.form-submit {
	background-color: #F3A943;
	border: none;
	width: 91%;
	height: 70px;
	text-align: center;
	font-size: 22px;
	color: #fefefe;
	cursor: pointer;
	transition: background-color .3s ease-in;
}

.form-submit:hover {background-color: #4A90E2;}

.join-img {
	background-image: url(../images/form.png);
	background-size: 100%;
	width: 30vw;
	height: 350px;
	margin: -40px;
	z-index: -1;
} 


/*---------------------------------------------------------------------------------------------------------------*/
/*------------- PROGRAMME */
/*---------------------------------------------------------------------------------------------------------------*/

/*------------------------------------- PROGRAMME */
.jafar-slogan_img.jafar-programme {
	background-image: url('../images/jafar-programme.jpg');
}

.programme-container {
	display: flex;
	flex-direction: column-reverse;
	width: 50vw;
	margin: 50px auto;
}

.programme-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50vw;
	margin: 50px auto;
	
}

.programme-content:nth-child(odd) {
	display: flex;
	flex-direction: row-reverse;
}

.programme-num {
	font-family: aladdin;
	color: #F3A943;
	font-size: 10em;
	margin-top: -80px;

}

.programme-text {width: 400px;}

.programme-title {
	font-family: aladdin;
    font-size: 3.2em;
    color: #93281F;
}

.programme-content:nth-child(even) .programme-title{
	color: #4A90E2;
}

.programme-text p {font-size: 16px; text-align: justify;}

/*------------------------------------- MORE */
.jafar-more_img {
	background-image: url('../images/jafar-more.jpg');
	background-size: 100%;
	width: 100vw;
	height: 500px;
}

.jafar-slogan.jafar-more {
	padding-left: 0;
	padding-top: 125px;
	margin: 20px auto;
}

.jafar-slogan.jafar-more p {margin: 0 auto;}

.more-content {
	width: 50vw;
	margin: 50px auto;
	font-size: 20px;
	text-align: justify;
}

.more-content span {
	color: #F3A943;
	font-weight: 500;
}


/*------------------------------------- SOUTIEN */

.jafar-soutien p {
	width: 650px;
}

.soutien-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 75vw;
	margin: auto;
}

.soutien-content {
	display: flex;
	flex-direction: column;
	margin: 50px 0; 
	
}

.soutien-text {
	width: 18vw;
	text-align: center;
	margin-top: 20px;
}

.soutien-title {
	font-family: aladdin;
	font-size: 3.2em;
	color: silver;
}

.soutien-content:nth-child(3n+1) .soutien-title {
	color: #93281F;
}

.soutien-content:nth-child(3n) .soutien-title {
	color: #4A90E2;
}
.soutien-citation {
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: space-between;

}

.soutien-citation .aladdin {
	font-size: 2em;
	margin-top: ;
	margin: -10px 5px 0;
	font-weight: 200;
}

/*---------------------------------------------------------------------------------------------------------------*/
/*------------- A PROPOS */
/*---------------------------------------------------------------------------------------------------------------*/

/*------------------------------------- BIO */
.jafar-slogan_img.jafar-apropos {
	background-image: url('../images/jafar-apropos.jpg');
}

.bio-img {
	background-image: url('../images/jafar-bio.jpg');	
	background-size: 100%;
	width: 500px;
	height: 600px;
}

.bio {
	margin: 70px auto;
	width: 70vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bio-title {
	font-family: aladdin;
	font-size: 3.2em;
	color: #F3A943;
	padding-bottom: 40px;
}

.bio-text {
	width: 30vw;
	font-size: 18px;
	text-align: justify;
}

/*------------------------------------- VIE */
.vie-politique {
	background-color: #93281F;
	width: 100vw;
	color: #fefefe;
	padding: 20px 80px;
}

.vie-politique_content {
	display: flex;
	justify-content: space-around;
	margin: 100px 50px;
}

.vie-img {
	width: 300px;
	height: 300px;
	background-size: 100%;
	transition: transform .2s ease-in;
	cursor: pointer;
}

.vie-img:hover {
    transform: scale(1.1);
}

.vie-img1 {background-image: url('../images/vie1.png');}

.vie-img2 {background-image: url('../images/vie2.png');}

.vie-img3 {background-image: url('../images/vie3.png');}

/*------------------------------------- FAQ */

.jafar-faq_img {
	background-image: url('../images/jafar-more.jpg');
	background-size: 100%;
	width: 100vw;
	height: 400px;
}

.jafar-slogan.jafar-faq {
	padding-left: 0;
	padding-top: 70px;
	margin: 20px auto;
}

.jafar-slogan.jafar-faq p {
	margin: 0 auto;
	width: 1200px;
}

.faq-content {
	width: 70vw;
	margin: 100px auto;
	position: relative;
}

.faq-content:after {
	content: '';
	position: absolute;
	width: 15%;
	height: 1px;
	background-color: #93281F;
	bottom: -50px;
	left: 0;
	right: 0;
	margin: auto;
}

.faq-title.faq-jafar {
	font-size: 2em;
	text-align: center;
	color: #93281F;
	margin: 100px auto;
}

.faq-text {
	font-size: 20px;
	padding: 20px 0 0 70px;
	text-align: justify;
}

/*---------------------------------------------------------------------------------------------------------------*/
/*------------- ACTUALITES */
/*---------------------------------------------------------------------------------------------------------------*/

.actualite-container ul{
	display: flex;
	flex-wrap: wrap;
}

.actualites {
    width: 25vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.actualite-img {margin: 0 auto;}

.type-actualite {
	background-color: #93281F;
	color: #fefefe;
	font-size: 24px;
	font-weight: 500;
	width: 200px;
	padding: 5px 0;
	margin: 25px auto;
	box-shadow: 0px 3px 5px 0px #c0c0c0;
}

.actualite-title {
	font-size: 20px;
	width: 350px;
	margin: 0 auto;
	font-weight: 500;
}

.actualite-title a {
	color: #010101;
	transition: color .3s ease-in;
}

.actualite-title a:hover {
	text-decoration: none;
	color: #93281F;
}

.header_single-annonce {
	width: 100vw;
	height: 200px;
	background-color: #93281F;
}

.single-container {
	display: flex;
	margin: 100px;
}

.single_img {margin-right: 50px;}

.single_content h5 {
	color: #93281F;
	margin-bottom: 20px;
}
.single_content h1 {
	font-family: aladdin;
	font-size: 3.2em;
	margin: 0 0 30px 0;
}

.single_content p {
	font-size: 18px;
	text-align: justify;
}

.signature {
    text-align: right;
    color: #4A90E2;
    margin-top: 20px;
}